<div class="conatiner"><span class="numer">4</span>
  <div class="circle">
    <div class="drops"></div>
    <div class="drops"></div>
    <div class="hand"></div>
    <div class="hand rgt"></div>
    <div class="holder">
      <div class="bob">
        <div class="nose"></div>
        <div class="face">
          <div class="mouth">
            <div class="tongue"></div>
          </div>
        </div>
        <div class="ear"></div>
        <div class="ear rgt"></div>
        <div class="neck"></div>
      </div>
    </div>
  </div><span class="numer">4</span>
  <div class="col-lg-12 col-xs-12" style="margin-top: -100px; margin-left: 50px">
    <h3>Oops, the page you're looking for doesn't exist. <a href="/login" class="home"> Go Home</a></h3> 
  </div>
</div>

