<table datatable class="table row-border hover" *ngIf="this.temp_var">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rec of this.data">
      <td>{{rec.userId}}</td>
      <td>{{rec.title}}</td>
      <td>{{rec.body}}</td>
    </tr>
  </tbody>
</table>