
<div class="login-box">
  <!-- /.box-header -->
  <div class="alert alert-danger alert-dismissible" style="display: none">
    <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    {{notification}}
  </div>
  <!-- /.box-body -->
  <div class="login-logo">
    <h1><b>SEVTOPUPPER</b></h1>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in</p>

    <form>
      <div class="form-group has-feedback">
        <input type="text" [(ngModel)]="username" id="username" name="username" class="form-control" placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" [(ngModel)]="password" id="password" name="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="btnLogin" (click)="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->