<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      History
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Saldo Parent</th>
                  <th>Saldo Child</th>
                  <th>Timestamp</th>
                </tr>
                <tr *ngFor="let rec of heroes; let i = index">
                  <td style="color: #530050;">{{ i + 1 }}</td>
                  <td style="color: #530050;">{{ rec.name }}</td>
                  <td style="color: #530050;">{{ rec.amount | number }}</td>
                  <td style="color: #530050;">{{ rec.saldoParent | number }}</td>
                  <td style="color: #530050;">{{ rec.saldoChild | number }}</td>
                  <td style="color: #530050;">{{ rec.timestamp }}</td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
  </section>
  <!-- /.content -->
</div>
