<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Welcome, {{username}}
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- /.box-header -->
    <div id="alertError" class="alert alert-danger alert-dismissible" style="display: none">
      <button type="button" class="close" onclick="$('#alertError').hide()">&times;</button>
      {{notif}}
    </div>
    <div id="alertSuccess" class="alert alert-success alert-dismissible" style="display: none">
      <button type="button" class="close" onclick="$('#alertSuccess').hide()">&times;</button>
      {{notif}}
    </div>
    <!-- /.box-body -->
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>Saldo Parent</h3>

            <h1>{{saldoParent | number}}</h1>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>Saldo Child</h3>
            <h1>{{saldoChild | number}}</h1>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div id="displayStyle" class="row">
      <!-- <div [style.display]="displayStyle" class="row"> -->
        <div class="col-md-6">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">TopUp Saldo</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>

                  <div class="col-sm-8">
                    <input type="text" [(ngModel)]="amount" id="amount" name="amount" class="form-control" maxlength="12" placeholder="Amount">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label"></label>
                  <div class="col-sm-8">
                    <button type="submit" (click)="validationSave()" id="btnSave" style="display: none;" class="btn btn-info pull-right">Save</button>
                  </div>
                </div>
              </div>
              
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->
          </div>
       
    </div>
    <input type="hidden" id="saldoParent">
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>

<div class="modal fade" id="modalShow">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="btnIconPopUp" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-fw fa-info-circle"></i> Notification</h4>
        </div>
        <div class="modal-body">
          <p id="popUpValidation">Are you sure to save ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnClosePopUp" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="btnSavePopUp" (click)="processSave()" class="btn btn-primary">Save changes</button>
          <button type="button" id="btnSaveOK" (click)="processSaveOK()" class="btn btn-primary" style="display: none;">OK</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->